@use "../node_modules/bootstrap/scss/bootstrap";
@use "../node_modules/bootstrap/scss/functions";
@use "../node_modules/bootstrap/scss/variables";
@use "../node_modules/bootstrap/scss/variables-dark";
@use "../node_modules/bootstrap/scss/maps";
@use "../node_modules/bootstrap/scss/mixins";
@use "../node_modules/bootstrap/scss/root";

$gris-claro: #d3d3d3;
$gris-oscuro: #696969;

.contenedor__principal {
  width: 80%;
  margin: 10px auto;
  border: 1px solid $gris-claro;
  padding: 20px;
}
