@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$gris-claro: #d3d3d3;

.contenedor__principal {
  width: 80%;
  margin: 10px auto;
  border: 1px solid $gris-claro;
  padding: 20px;
}

$footer-bg: #851759;
$footer-text: #333;

.footer {
  background-color: $footer-bg;
  color: $footer-text;
  @include padding(20px);
  text-align: center;
}
