@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

$gris-claro: #d3d3d3; // Esta variable no fue refactorizada ya que solo se usa una vez.

.main {
    width: 80%;
    margin: 20px auto;
    border: 1px solid $gris-claro;
    padding: 20px;
}
