$gris-claro: #d3d3d3; // Esta variable no fue refactorizada ya que solo se usa una vez.

.contenedor__principal {
    width: 80%;
    margin: 10px auto;
    border: 1px solid $gris-claro;
    @include padding($spacing-lg);
}
